<!-- comments-index -->
{{> index}}
<h1>Comments</h1>

{{!-- <div class="row">
    {{#each comments}}
    <div class="col-md-3">
        <h2><a href="/comments/{{this._id}}">{{this.title}}</a></h2>
        <small>{{this.content}}</small>
    </div>
    {{/each}}
</div> --}}

{{#each comments}}
<h2><a href="/comments/{{this._id}}">{{this.title}}</a></h2>
<small>{{this.content}}</small>
{{/each}}